.contact {
  text-decoration: none;
  color: rgb(67, 7, 49);
}
.contact::marker {
  content: '';
}
.book {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border: 1px solid #8b8686;
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  padding: 15px;
}
.name {
  margin: 0;
  font-size: 20px;
  /* height: 40px; */
}
.button {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(52, 5, 38);
  font-size: 30px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;

  :hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
}
