.title {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: 'wght' 311;
  margin-bottom: 0.8rem;
  color: rgb(146, 34, 113);
  outline: none;
  text-align: center;
  margin: 25px;
}
